<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion_content">
  <div class="contentainer">
    <div>
      <ion-title size="large"> <h1>Math Game</h1></ion-title>
    </div>
  
    <div class="rule">
      <p>Résolvez le plus d'équation</p>
    </div>

    <div class="game">
      <div>
        <ion-item>
          <ion-label>Temps restant: <b>{{ remainingTime }}</b></ion-label>
        </ion-item>
      </div>
      <div>
        <div class="equation">
          <p id="equation"></p>
        </div>
        <div class="input">
          <form [formGroup]="inpForm" (ngSubmit)="onSubmit()" action="" id="form" >
            <input type="number" formControlName="inpValue" id="inpValue" autofocus required>
            <input type="submit" value="enter" hidden>
          </form>
        </div> 
      </div>
    </div>
  </div>

  
</ion-content>
