<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jojo Math Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenue</strong>
    <br>
    <p>Au croisement entre les maths et les jeux</p>
    <br>
    <ion-button [routerLink]="['/main']">C'est partis</ion-button>
  </div>
</ion-content>
